 /* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
  
background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 12px;
    margin: auto;
    width: 60%;
    text-align: center;
    padding-top: 50px
  }
  .tagcloud--item:hover {
    color: #e3e6e8;
    cursor: pointer;
    
  }  */


  body {background: #000}

#div1 {position:relative; width:550px; height:550px; margin: 70px auto 0;
 }
#div1 a {position:absolute; top:10px; left:0px; font-family: Microsoft YaHei; color:#fff; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#div1 a:hover {border: 1px solid #eee; background: #000; }
#div1 .blue {color:blue;}
#div1 .red {color:red;}
#div1 .yellow {color:yellow;}

p { font: 16px Microsoft YaHei; text-align: center; color: #ba0c0c; }
p a { font-size: 14px; color: #ba0c0c; }
p a:hover { color: red; }